<div class="govuk-product-list">

  <h3 class="heading-large">Other GOV.UK products</h3>

<ul class="list">

  <% if primary_nav != 'service-manual' %>
  <li><a href="/service-manual/index.html">Service Manual</a></li>
  <% end %>

  <% if primary_nav != 'verify' %>
  <li><a href="/verify/index.html">Verify</a></li>
  <% end %>

  <% if primary_nav != 'frontend' %>
  <li><a href="/frontend/index.html">Frontend</a></li>
  <% end %>

  <% if primary_nav != 'paas' %>
  <li><a href="/paas/index.html">Platform as a Service</a></li>
  <% end %>

  <% if primary_nav != 'notify' %>
  <li><a href="/notify/index.html">Notify</a></li>
  <% end %>

  <% if primary_nav != 'pay' %>
  <li><a href="/pay/index.html">Pay</a></li>
  <% end %>

  <% if primary_nav != 'digital-marketplace' %>
  <li><a href="/digital-marketplace/index.html">Digital Marketplace</a></li>
  <% end %>

</ul>

</div>
