<li><a href="contribute.html"<% if section == "contribute" %> class="active"<% end %>>Contribute</a></li>
<li><a href="styleguide.html"<% if section == "styleguide" %> class="active"<% end %>>Style guide</a></li>
<li><a href="download.html"<% if section == "download" %> class="active"<% end %>>Download</a></li>
<li><a href="index.html"<% if section == "about" %> class="active"<% end %>>About</a></li>